@import 'fonts.scss';

body {
    font-family: 'LG Cafe';
    margin: 0px;
    padding: 0px;
}

.chat {
    display: block;
    margin: 0 auto;
    top: 50%;
    background: rgb(237, 238, 234);
    width: 400px;
    height: 700px;

    .chat-header {
        display: flex;
        height: 7.5%;
        width: 100%;
        .recipent-name {
            font-family: 'Vice City';
            margin-right: 37.5%;
            color: rgb(9, 44, 5);
            margin-left: auto;
            font-size: 26px;
            margin-top: auto;
            margin-bottom: auto;
        }
        .menu-icon {
            width: 25%;
            height: 100%;
            img {
                padding-top: 6px;
                padding-left: 10px;
                height: 70%;
                width: auto;
            }
        }
    }

    .chat-live {
        position: relative;
        height: 52.5%;
        overflow: hidden;

        .inner-chat {
            position: absolute;
            bottom: 0px;
        }

        .message {
            width: 80%;
            margin-top: 10px;
            margin-bottom: 5px;
            border-spacing: 7px;

            .message-text {
                margin-left: 5px;
                padding-top: 5px;
                font-size: 18px;
                height: 80%;
            }

            .message-time {
                white-space:nowrap;
                font-size: 11px;
                display: table-cell;
            }

            .message-status {
                display: table-cell;
                margin-left: 5px;
                img {
                    width: 3.5%;
                    height: auto;
                }
            }

            &.sent {
                background-color: rgb(116, 199, 61);
                margin-right: 5px;
                margin-left: auto;
            }

            &.received {
                background-color: rgb(158, 158, 158);
                margin-left: 5px;
                margin-right: auto;
            }

            &.animated-enter {
                animation: message-pop 0.2s ease-in-out;
            }
            
            &.animated-enter-active {
                animation: message-pop 0.2s ease-in-out;
            }
        }

    }

    .chat-footer {
        height: 40%;
        border: 1px solid black;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
        }
    }
}

@keyframes message-pop {
    0% {
        transform: scale(0.5) translateY(50px);
    }

    80% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1) translateY(0px);
    }
}